<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<!-- Action : 목적지 (서버주소) method : http request method get으로 보내면 주소창이 보이고 post로 보내면 주소창이 안보인다. -->
<form action="/board/save" method="post">
    writer : <input type = "text" name = "boardWriter"> <br>
    pass :<input type = "text" name = "boardPass"> <br>
    title :<input type = "text" name = "boardTitle"> <br>
    contents: <textarea name = "boardContents" cols = "30" rows ="10"></textarea> <br>
    <input type = "submit" value = "글작성">
</form>
</body>
</html>